<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
<div id="app" hidden>
  <v-app id="inspire">
    <v-app id="inspire">
      <v-main>
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
              <v-card class="elevation-12">
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>Login form</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-form v-model="valid" ref="form" method="post">
                    <v-text-field
                        label="Login"
                        name="login"
                        prepend-icon="mdi-account"
                        type="text"
                        v-model="loginForm.username"
                        :rules="usernameRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        id="password"
                        label="Password"
                        min="8"
                        name="password"
                        prepend-icon="mdi-lock"
                        v-model="loginForm.password"
                        :append-icon="pv ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="pv ? 'text' : 'password'"
                        :rules="passwordRules"
                        @click:append="pv = !pv"
                        counter
                        required
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="submit" :disabled="!valid">Login</v-btn>
                  <v-spacer></v-spacer>
                  <a href="">Forgot Password</a>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </v-app>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    window.onload = function () {
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            created() {
                document.querySelector("#app").removeAttribute("hidden");
            },
            data() {
                return {
                    loginForm: {
                        username: '',
                        password: '',
                    },
                    valid: false,
                    pv: false,
                    usernameRules: [
                        (v) => !!v || 'Username is required',
                        //(v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
                    ],
                    passwordRules: [
                        (v) => !!v || 'Password is required',
                    ],
                }
            },
            methods: {
                submit() {
                    if (this.$refs.form.validate()) {
                        axios.post(
                            location.href,
                            this.loginForm
                        ).then((response) => {
                            console.log(response);
                            location.href = '/' + location.hash;
                        }).catch((error) => {
                            console.log(error);
                        });
                    }
                },
                clear() {
                    this.$refs.form.reset()
                },
            },
        })
    }
</script>
</body>
</html>